

h1 {
  color: #000000;
}

p {
  font-size: 20px;
}

.iPhone-image {
  background-color: #000000;
}

h2 {
  color: #FFFFFF
}

.header {
  display: inherit;
  justify-content: center;
  align-items: stretch;
  background-color: #282727;
  color: #FFFFFF;
  width: 200%

}

.lead {
  color: #808B96;
  font-size: 12px;
}
footer {
  color: #C0C0C0;
}
